{% macro render(title, path_components = []) %}
    <div class="location" data-fragment-id="path">
        <div class="row">
            <div class="columns">
                <div class="media">
                    <div class="media__body">
                        <div class="location-path">
                            {% for c in path_components %}
                                /<a href="{{ c.url | default('#') }}">{{ c.name }}</a>
                            {%- endfor %}
                        </div>
                        <h1 class="location-current" data-emoji-enabled>{{ title }}</h1>
                    </div>
                    <div class="media__right">
                        {% include "partials/hamburger.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}